{{#cv.basics}}
    <div class="block">
        <h1 class="name center no-margin">{{name}}</h1>
        {{#location}}
            <h4 class="center uppercase no-margin">{{address}}, {{city}}</h4>
        {{/location}}
        <h4 class="center uppercase no-margin">{{phoneNumber}} &bull; {{email}}</h4>
    </div>
{{/cv.basics}}
