<div class="block">
    <h2 class="no-margin uppercase"><span class="fas fa-graduation-cap"></span> Education</h2>
</div>
{{#cv.education}}
    <div class="block">
        <h3>
            {{studyType}} in {{field}}
            <span class="right smaller">
                {{formatDateRange startDate endDate}}
            </span>
        </h3>
        <h4>{{institution}}</h4>
        {{#if graduateThesis}}
            <div class="dissertation">
                <div><i>Dissertation Title</i>: "{{graduateThesis.title}}"</div>
                <div>
                    Committee:
                    {{#each graduateThesis.committee}}
                        {{this}},
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
{{/cv.education}}
